{% extends 'base.html.twig' %}
{% block title %}Ministages à venir{% endblock %}

{% block body %}
    <section class="space-y-6">
        <h1 class="text-3xl font-bold">Les Ministages à venir 🚀</h1>

        {%  if ministages is empty %}
            <div class="card p-6">
                <p class="muted">Aucun événement pour le moment.</p>
            </div>
        {% else %}
        <div class="container px-6 mx-auto grid">
            <table class="w-full whitespace-no-wrap">
                <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th scope="col">Formations</th>
                    <th scope="col">Nom Etablissement</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure début</th>
                    <th scope="col">Heure fin</th>
                    <th scope="col">Places</th>
                    <th scope="col">Places restante</th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                {% for m in ministages %}
                    <tr class="text-gray-700 dark:text-gray-400">
                        <th>{{ m.id ?? 'Ministages sans formations' }}</th>
                        <td>{{ m.etablissement.nom_etab ?? 'ministage sans etablissement' }}</td>
                        <td>{{ m.lieu ?? 'ministage sans lieu' }}</td>
                        <td>{{ m.date_debut|date("m/d/Y")}}</td>
                        <td>{{ m.date_debut|date("H:i") }}</td>
                        <td>{{ m.date_fin|date("H:i") }}</td>
                        <td>{{ m.nb_place ?? 'Nombre de place inconnu' }}</td>
                        <td>{{ m.nb_place_reste ?? 'Nombre de place restante inconnu' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
            <a href="/login">Connexion</a>

        {% endif %}
    </section>
{% endblock %}
